div[machines] {
 width: 90%;
 margin-left: 5%;
 margin-right:5%;
 height: 200px;
}

div[machines] > div[state] {
 width: 6vw;
 height: 6vw;
 border-radius:100%;
 margin: 9vw;
 border: 1px black solid;
 box-sizing:border-box;
 float:left;
 text-align:center;
 font-family:Times;
 font-size:14px;
  padding-top:7px;
  position:relative;
}


div[machines] > div[state][end] {
  border-width:2px !important;
    border-color:red;
}

div[machines] > div[state][start] {
  border-width:2px !important;
  border-color:blue;
}

div[machines] > div[state] > div[default]{
  width: 16vw;
  height: 1vw;
  position:absolute;
  left:6.1vw;
  top:-0.2vw;
  text-align:center;
}

div[default]::before {
  -webkit-transform: skew(40deg);
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  border-bottom: 1px black solid;
  border-right:1px black solid;
  width:100%;
  position:absolute;
  left:0px;
  bottom:-9px;
  content: " ";
  height:10px;
}

div[default][diag]{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12vw !important;
  width: 25vw !important;
  left:3.6vw !important;
}

div[default][diag] span{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position:absolute;
  width:100%;
  left:-9%;
  top:-7%;
}


div[default][down]{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 14vw !important;
  left:-3.2vw !important;
}

div[default][down] span{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position:absolute;
  width:100%;
  left:-9%;
  top:-7%;
}


div[default][down][top]{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: -9vw !important;
  left:-8.2vw !important;
}

div[default][down][top] span{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position:absolute;
  width:100%;
  left:-9%;
  top:-5% !important;
}



div[machines] > div[state] > div[right]{
  width: 16vw;
  height: 1vw;
  position:absolute;
  right:6vw;
  top:3.4vw;
  text-align:center;
}

div[right]::before {
  -webkit-transform: skew(40deg);
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  border-top: 1px black solid;
  border-left:1px black solid;
  width:100%;
  position:absolute;
  left:0px;
  bottom:-4px;
  content: " ";
  height:10px;
}

div[default][diag][up]{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -12vw !important;
  width: 25vw !important;
  left:.6vw !important;
}

div[default][diag][up] span{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position:absolute;
  width:100%;
  left:-9%;
  bottom:2%;
}


div[default][diag][up][long]{
  -webkit-transform: rotate(-23deg);
  transform: rotate(-23deg);
  top: -11vw !important;
  width: 45vw !important;
  left:2.6vw !important;
}

div[default][diag][up][long] span{
  -webkit-transform: rotate(23deg);
  transform: rotate(23deg);
  position:absolute;
  width:100%;
  left:-9%;
  top:-7%;
}



